<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login</title>
  <link href="../static/signup.css" rel="stylesheet">
  <link href="../static/login.css" rel="stylesheet">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap" rel="stylesheet">


</head>

<body>
  <div class="root">
    <div class="left">
      <form class="registration" method="post" action='http://127.0.0.1:5000/login'>
        <h1 style="color: #5a60a5;">Login to Continue</h1>

        <label class="pure-material-textfield-outlined">
          <input name="username" placeholder="Username" type="text" required>
        </label>
        <label class="pure-material-textfield-outlined">
          <input name="password" placeholder="Password" type="password" required>
        </label>
        <button class="pure-material-button-contained btn" type="submit">Sign In</button>
        <a href="/signup">Don't have an account? Register now</a>
      </form>
    </div>

    <div class="right">
      <div class="image">
        <h1> Welcome again!</h1>

        <center>
          <h3>Be the reason for someone's heartbeat.</h3>
        </center>



        <img src="https://hospital-new1.s3.jp-tok.cloud-object-storage.appdomain.cloud/Asset%2016.png">
      </div>

    </div>
  </div>
</body>

</html>