<html>
<head>
<title>Job Seek Portal</title>
<style type="text/css">
.jobs{
	text-align: center;
	font-size: 18px;
	background-color: #e6f9ff;
	border-style: dashed;
	border-color: #00bfff;
	margin-top: 40px;
	margin-left:390px;
	margin-right:390px;
	padding: 20px;
}

.btn{
	background-color: #ad33ff; 
	border: none;
	border-radius: 40px;
  	color: white;
  	padding: 16px 32px;
  	text-align: center;
  	size: 28px;
  	text-decoration: none;
  	display: inline-block;
  	font-size: 16px;
  	margin: 4px 2px;
 	cursor: pointer;

}

</style>
<head>
<body>
<hr>
<h1><center>JOB SEEK PORTAL</center></h1>
<hr>
<h2><center>HAVE A LOOK AT THE JOB PORTAL AND APPLY FOR THE ROLE THAT FITS FOR YOU THE BEST!</center><h2>

<div class="jobs">
	Role: <i>Cloud Engineer</i><br>
	Location: <i>Remote, Chennai</i><br>
	Pay: <i>Rs.90,000/month</i><br>
	Description: <i>A Cloud Engineer's responsibilities include deploying and debugging systems, as well as executing new cloud initiatives.</i><br><br>
	<button class="btn">Register Here</button>
</div>
<div class="jobs">
	Role: <i>IoT Engineer</i><br>
	Location: <i>Mumbai</i><br>
	Pay: <i>Rs.50,000/month</i><br>
	Description: <i>The role of an IoT Developer/Engineer is a broad umbrella that brings to play multiple disciplines and skillsets.</i><br><br>
	<button class="btn">Register Here</button>
</div>
<div class="jobs">
	Role: <i>Website Developer</i><br>
	Location: <i>Chennai</i><br>
	Pay: <i>Rs.40,000/month</i><br>
	Description: <i>A Web Developer is a professional who is responsible for the design and construction of websites. They ensure that sites meet user expectations by ensuring they look good, run smoothly and offer easy access points with no loading issues between pages or error messages.</i><br><br>
	<button class="btn">Register Here</button>
</div>
<div class="jobs">
	Role: <i>IoT Engineer</i><br>
	Location: <i>Navi Mumbai</i><br>
	Pay: <i>Rs.45,000/month</i><br>
	Description: <i>The role of an IoT Developer/Engineer is a broad umbrella that brings to play multiple disciplines and skillsets.</i><br><br>
	<button class="btn">Register Here</button>
</div>
<div class="jobs">
	Role: <i>Cloud Engineer</i><br>
	Location: <i>Delhi</i><br>
	Pay: <i>Rs.1,00,000/month</i><br>
	Description: <i>A Cloud Engineer's responsibilities include deploying and debugging systems, as well as executing new cloud initiatives.</i><br><br>
	<button class="btn">Register Here</button>
</div>
</body>
</head>