{% extends 'base.html' %}

{% block head %}
<title>Flask About Page</title>
{% endblock %}

{% block pageName %}About{% endblock %}
{% block body %}
<div class="container mt-5">
    <h1 class="fs-1">We make up a team of Four</h1>
    <ul class="list-group p-3 mt-3">
        <li class="list-group-item border-0 fs-4">Team Lead: <b>SIDDIQUE AFRAAZ N</b></li>
        <li class="list-group-item border-0 fs-4">Team Member 1: <b>SURAJ SK</b></li>
        <li class="list-group-item border-0 fs-4">Team Member 2: <b>SAALINI D</b></li>
        <li class="list-group-item border-0 fs-4">Team Member 3: <b>VINOTHKUMAR C</b></li>
        <br />
        <li class="list-group-item border-0 fs-4">Mentor:<b> Dr. JEYAPRABHA T J</b></li>
        <li class="list-group-item border-0 fs-4">College: <b> SRI VENKATESWARA COLLEGE OF ENGINEERING </b></li>
    </ul>
</div>

{% endblock %}