{% extends 'base.html' %}

{% block head %}
<title>Flask About Page</title>
{% endblock %}

{% block pageName %}About{% endblock %}
{% block body %}
<div class="container mt-5">
    <h1 class="fs-1">A Team of Four!</h1>
    <ul class="list-group p-3 mt-3">
        <li class="list-group-item border-0 fs-4">Lead: <b>Siddique Afraaz N</b></li>
        <li class="list-group-item border-0 fs-4">Member 1: <b>Saalini D</b></li>
        <li class="list-group-item border-0 fs-4">Member 2: <b>Suraj S K</b></li>
        <li class="list-group-item border-0 fs-4">Member 3: <b>Vinoth Kumar C V</b></li>
        <br />
        <li class="list-group-item border-0 fs-4">Mentor:<b> Dr. Jeyaprabha T J</b></li>
        <li class="list-group-item border-0 fs-4">College: <b> Sri Venkateswara College of Engineering</b></li>
    </ul>
</div>

{% endblock %}