html {
  padding-bottom: 3rem;
}

.title {
  font-size: 1.25rem;
  line-height: 2.5rem;
}

.link {
  padding: 0;
  font-size: 1.25rem;
  line-height: 2.5rem;
  color: black;
  opacity: 50%;
}

.link:hover {
  color: black;
  opacity: 80%;
}

.link-item {
  margin-left: 1rem;
}

.maindiv {
  border-radius: 10px;
  padding-bottom: 3rem;
}

.maindiv-bg {
  background-color: rgb(70, 131, 245);
  border-radius: 10px 10px 0 0;
}

.profile {
  max-width: 216px;
  max-height: 216px;
  margin-top: 20px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.profile img {
  object-fit: cover;
  border-radius: 3%;
}

input[type=text], textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type=email]{
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type=tel]{
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type=submit] {
  background-color: rgb(70, 131, 245);
  color: white;
  padding: 10px 22px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: rgb(0, 89, 255);
}

.container {
  border-radius: 5px;
  background-color: #fbfbfb;
  padding: 20px;
}

.container1 {
  border-radius: 10px;
  background-color: rgb(211, 227, 255);
  padding: 50px;
}